.font-link {
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.colorBody {
    background-color: rgb(70, 45, 9);
}

.imgitems {
    width: 250px;
    height: auto;
}

.loadingspinner {
    margin-top: 150px;
    width: 250px;
    height: 250px;
}

.imgSize {
    width: 20rem;
    height: auto;
}

.imgCardSize {
    width: auto;
    height: 20rem;
}

.cardStyle {
    width: auto;
    height: 33rem;
    overflow: hidden;
}

.descCard {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 3rem;
}
